<nav class="navbar navbar-light bg-light brand-logo">
    <a class="navbar-brand brand-logo" href="#">
        <fa-icon 
            [icon]="['fab', 'angular']"
            [styles]="{'stroke': 'red', 'color': 'red'}"
            size="2x"
        ></fa-icon> 
        <span class="title">Angular!</span>
    </a>
</nav>
<div class="container" [ngClass]="{ 'theme-light' : isLightColorTheme }">
    <div class="section">
        <!-- <app-ng-style></app-ng-style> -->
        <app-component-styles class="active"></app-component-styles>
    </div>
    <div class="section">
        <h3>App Component<small></small></h3>
        <p>Haciendo click al boton cambiaras los estilos del componente hijo!</p>
        <button class="btn btn-primary" (click)="changeColorTheme()">Cambia estilo</button>
    </div>
</div>