<nav class="navbar navbar-light bg-light brand-logo">
    <a class="navbar-brand brand-logo" href="#">
        <fa-icon 
            [icon]="['fab', 'angular']"
            [styles]="{'stroke': 'red', 'color': 'red'}"
            size="2x"
        ></fa-icon> 
        <span class="title">Angular!</span>
    </a>
</nav>
<div class="container">
    <div class="section">
        <h3>ngStyle <small>Directive</small></h3>
    </div>
    <div class="section">
        <h3>ngStyle <small>Directive</small></h3>
    </div>
    <div class="section">
        <h3>ngStyle <small>Directive</small></h3>
    </div>
</div>