<nav class="navbar navbar-light bg-light brand-logo">
    <a class="navbar-brand brand-logo" href="#">
        <fa-icon 
            [icon]="['fab', 'angular']"
            [styles]="{'stroke': 'red', 'color': 'red'}"
            size="2x"
        ></fa-icon> 
        <span class="title">Angular!</span>
    </a>
</nav>
<div class="container">
    <div class="section">
        <!-- <app-ng-style></app-ng-style> -->
        <app-component-styles></app-component-styles>
    </div>
    <div class="section">
        <h3>App Component<small></small></h3>
        <p>Rerum illo ex exercitationem alias enim quaerat magnam dolore repellat adipisci in accusamus pariatur odio, nam dolorem eos vero. Assumenda, repellendus praesentium!</p>
    </div>
</div>